<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Color</title>
</head>
<body>

<form action="#" method="post">
    <label>Color
        <select id="color" name="color">
            <option >--Select a color--</option>
            <repeat group="{{@colors}}" value="{{@colorOption}}">
            <option >{{@colorOption}}</option>
            </repeat>

        </select>
    </label>

    <button type="submit">Submit</button>
</form>

</body>
</html>